form{
    background-color: cyan;
    width: 50%;
    border-radius: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
}
legend{
    text-align: center;
    font-weight:bold ;
    font-size: 30px;
}
.cl{
    background-color: blue;
    color: white;
}
.sd{
    background-color: green;
    color: white;
}
